 /* ### Primary */
 
 .color {
     /*- Soft red:  */
     color: hsl(10, 79%, 65%);
     /* - Cyan:  */
     color: hsl(186, 34%, 60%);
     /* ### Neutral */
     /* - Dark brown: */
     color: hsl(25, 47%, 15%);
     /* - Medium brown:  */
     color: hsl(28, 10%, 53%);
     color: hsl(27, 66%, 92%);
     /* - Cream:  */
     /* - Very pale orange:  */
     color: hsl(33, 100%, 98%);
 }